#globemap{
    width: 1000px;
height: 1000px;
}
.mapHolder{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
.countryDetails{
    float: left;
    width: 80%;
}
#chartHolder{
    padding-top: 120px;
    width: 50%;
}