#globemap{
    width: 100%;

}
.mapHolder{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
.countryDetails{
    float: left;
    width: 80%;
    color:rgb(187, 187, 197);
}
#mapElement{

    width: 40%;
}
#mapElement{
    width: 60%;
}

.rsm-geographies{
    outline-style: none;
    border: 0;
}

.rsm-geographies:focus {
    outline-style: none;
    border: 0;
}

